footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;

    position: absolute;
    bottom: 0;
    width: 100%;

    .textmark-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        .textmark {
            width: 20rem;
        }
    }

    .footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        a {
            text-decoration: none;
            color: #fff;
            transition: 0.3s;

            &:hover {
                color: #0000ff;
            }
        }
    }
}