.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 0 2em;
    height: 4em;
    
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;

    .logo-container {
        .logo {
            width: 10rem;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                margin: 0 1em;
                font-size: 1.2em;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: 0.3s;

                    &:hover {
                        color: #0000ff;
                    }
                }
            }
        }
    }

}