---

import "../styles/footer.scss"

---

<footer>
    <div class="textmark-container">
        <img src="/images/logos/textmark.svg" alt="LNP Video" class="textmark">
    </div>
    <div class="footer-links">
        <a href="https://www.lnp-group.com/" target="_blank">LNP Group</a>
        <a href="https://www.lnp-group.com/privacy-policy/" target="_blank">Privacy Policy</a>
        <a href="https://www.lnp-group.com/terms-of-use/" target="_blank">Terms of Use</a>
        <a href="https://www.lnp-group.com/cookie-policy/" target="_blank">Cookie Policy</a>
    </div>
</footer>