---

import "../styles/menu.scss";

---

<div class="menu-container">
    <div class="logo-container">
        <a href="/ro-ro" class="home-link">
            <p>PLACEHOLDER<span style="font-weight: bold;">LOGO</span></p>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/ro-ro/ajutor">
                    Ajutor
                </a>
            </li>
            <li>
                <a href="/ro-ro/vizionează">
                    Vizionează
                </a>
            </li>
            <li>
                <a href="/ro-ro/setări">
                    Setări
                </a>
            </li>
        </ul>
    </nav>
</div>