---

import "../styles/menu.scss";

---

<div class="menu-container">
    <div class="logo-container">
        <a href="/watch" class="home-link">
            <p>PLACEHOLDER<span style="font-weight: bold;">LOGO</span></p>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/help/movies">
                    Movies
                </a>
            </li>
            <li>
                <a href="/watch/movies">
                    Series
                </a>
            </li>
            <li>
                <a href="/watch/settings">
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</div>