---

import "../styles/menu.scss";

---

<div class="menu-container">
    <div class="logo-container">
        <a href="/" class="home-link">
            <p>PLACEHOLDER<span style="font-weight: bold;">LOGO</span></p>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/help">
                    Help
                </a>
            </li>
            <li>
                <a href="/watch">
                    Stream
                </a>
            </li>
            <li>
                <a href="/settings">
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</div>